@media screen and (max-width: 767px) {
  .feature-list-icon-svg {
    display: none;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .feature-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .feature-title {
    color: var(--navyblue);
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .feature-text {
    color: var(--slate);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
}

@media screen and (min-width: 1158px) {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .feature-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feature-list {
    display: flex;
    gap: 24px;
  }

  .feature-list-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .feature-title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .feature-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
