@media screen and (max-width: 767px) {
  .footer-logo {
    display: inline-block;
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .footer-logo-color {
    color: var(--cloud);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .footer-text {
    text-align: center;
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-bottom: 72px;
  }

  .footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-wrapper {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo-wrapper {
    margin: 0 auto;
  }

  .footer-socials-text {
    text-align: center;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .footer-socials-list {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .footer-socials-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-container {
    margin-bottom: 72px;
  }

  .footer-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-link:hover,
  .footer-socials-link:focus {
    background-color: #31d0aa;
  }

  .footer-socials-icon {
    fill: #f4f4fd;
  }

  .footer-input-desc {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .footer-form-input {
    width: 398px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    opacity: 0.3;
  }

  .footer-form-input::placeholder {
    color: var(--white);
  }

  .footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
  }

  .footer-form-btn-icon {
    margin-left: 16px;
  }
}

@media screen and (max-width: 319px) {
  .footer-form-input {
    width: 290px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-logo {
    display: inline-block;
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .footer-logo-color {
    color: var(--cloud);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .footer-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
  }

  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 584px;
  }

  .footer-logo-wrapper {
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .footer-logo-and-socials-wrapper {
    display: flex;
  }

  .footer-socials-text {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .footer-socials-list {
    display: flex;
    gap: 16px;
  }

  .footer-socials-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-container {
    margin-right: 80px;
  }

  .footer-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-link:hover,
  .footer-socials-link:focus {
    background-color: #31d0aa;
  }

  .footer-socials-icon {
    fill: #f4f4fd;
  }

  .footer-input-desc {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-form-label {
  }

  .footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    opacity: 0.3;
  }

  .footer-form-input::placeholder {
    color: var(--white);
  }

  .footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
  }

  .footer-form-btn-icon {
    margin-left: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo-and-socials-wrapper {
    display: flex;
  }

  .footer-logo {
    display: inline-block;
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .footer-logo-color {
    color: var(--cloud);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .footer-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
  }

  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-wrapper {
    display: flex;
    align-items: baseline;
  }

  .footer-logo-wrapper {
    margin-right: 120px;
  }

  .footer-socials-text {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .footer-socials-list {
    display: flex;
    gap: 16px;
  }

  .footer-socials-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-container {
    margin-right: 80px;
  }

  .footer-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-socials-link:hover,
  .footer-socials-link:focus {
    background-color: #31d0aa;
  }

  .footer-socials-icon {
    fill: #f4f4fd;
  }

  .footer-input-desc {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-form-label {
  }

  .footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
  }

  .footer-form-input::placeholder {
    color: var(--white);
  }

  .footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
  }

  .footer-form-btn-icon {
    margin-left: 16px;
  }
}
