/* start mobile styles */

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .adress {
    display: none;
  }
  .header-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }

  .header-logo-color {
    color: var(--navyblue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .header-section {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .mobile-menu-open-btn-icon {
    stroke: var(--navyblue);
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 500ms ease;
    padding: 80px 35px 40px 40px;
  }

  .mobile-current {
    color: var(--ocean);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-menu-container {
    position: relative;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-item-link {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-menu-item-link:hover,
  .mobile-menu-item-link:focus {
    color: var(--ocean);
  }

  .mobile-menu-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 80px;
    margin-bottom: 284px;
  }

  .mobile-contacts-phone {
    color: var(--iris);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-style: normal;
  }

  .mobile-contacts-phone:hover,
  .mobile-contacts-phone:focus {
    color: var(--iris);
  }

  .mobile-contacts-mail {
    color: var(--slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    font-style: normal;
  }

  .mobile-adress-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin: 0 auto;
  }

  .mobile-contacts-mail:hover,
  .mobile-contacts-mail:focus {
    color: var(--iris);
  }

  .mobile-menu-socials {
    display: flex;
    gap: 56px;
  }

  .mobile-menu-socials-item {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-socials-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-socials {
    margin-left: 40px;
    margin-top: 48px;
  }

  .mobile-menu-socials-icon {
    fill: #f4f4fd;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    line-height: 0;
  }
}

@media screen and (max-width: 319px) {
  .mobile-contacts-phone {
    font-size: 28px;
  }

  .mobile-menu-socials {
    gap: 30px;
  }
}
/* end mobile styles */
/* start tablet styles */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .header-section {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-wrapper {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }

  .header-logo-color {
    color: var(--navyblue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .header-nav__link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav__link:hover,
  .header-nav__link:focus {
    color: #404bbf;
  }

  .header-nav__link.current {
    position: relative;
    color: #404bbf;
  }

  .header-nav__link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .header-adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts {
    color: var(--slate);
    font-size: 12px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }
}

/* end tablet dtyles */
/* start desktop styles */
@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .header-section {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-wrapper {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }

  .header-logo-color {
    color: var(--navyblue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .header-nav__link {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav__link:hover,
  .header-nav__link:focus {
    color: #404bbf;
  }

  .header-nav__link.current {
    position: relative;
    color: #404bbf;
  }

  .header-nav__link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .header-adress-list {
    display: flex;
    gap: 40px;
  }

  .contacts {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }
}
