:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --lightslate: #8e8f99;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
}
